name: Build Games
on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]
# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write
# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false
jobs:
  build:
    strategy:
      matrix:
        game: [bubbo-bubbo, puzzling-potions]
    uses: ./.github/workflows/game-workflow.yml
    with:
      game: ${{ matrix.game }}
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout gh-pages branch
        uses: actions/checkout@v3
        with:
          ref: gh-pages
          fetch-depth: 0
          token: ${{ secrets.PAT }}
      - name: Create branch directory
        run: mkdir -p ${{github.ref_name}}
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ${{ github.ref_name }}
      - name: Display structure of downloaded files
        run: ls -R
        working-directory: ${{ github.ref_name }}
      - name: Setup Pages
        uses: actions/configure-pages@v4
      
      - name: Commit and push changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Update deployment for ${{ github.ref_name }}"
          git push https://${{ secrets.PAT }}@github.com/${{ github.repository }}.git HEAD:gh-pages
    environment:
      name: github-pages
      url: https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/${{ github.ref_name }}

